*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    background-image: url(./Imagenes/botellas-de-vino-tinto-y-vaso-botella-sobre-fondo-negro-con-reflexión-perfecto-para-publicidad-promoción-216291665.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
}


.bgc{
    background-color: rgba(0, 0, 0, 0.656);
    display: flex;

}

form .form-check-label {
    color:white
}

form .form-label {
    color:white
}

.card-body .form-check-label{
    color: black;
}

h1 {
    color: white;
    font-family: 'Montez', cursive;
    font-size: 4rem;
    font-weight: 550;
    display: flex;
    justify-content: center;
    text-align: center;
}


.texto_index {
    font-family: 'Poppins', cursive;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:white;
}


.texto_turismo{
    font-family: 'Poppins', cursive;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:white;
}


.texto_historia{
    font-family: 'Poppins', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.53);
    
}

.icono {
    width: 5rem;
    border-radius: 50%;
}


h2{
    color: red;
    font-family: 'Poppins', cursive;
    font-weight: 1000;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

h3{
    color: white;
    font-family: 'Poppins',cursive;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.282);
}


h4{
    color: rgb(184, 177, 177);
    font-family: 'Poppins',cursive;
    font-weight: 1000;
    font-size: 11px;

}

.tarjeta_imagen {
    display: flex;
    width: 50%;
    height: 100%;
}

h7{
    color: red;
}

h8{
    color: blueviolet;
}

footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 80px;
}

footer a{
    display: flex;
    justify-content: center;
    width: 17vh;
    background-color: rgba(0, 0, 0, 0.464);
    font-weight: 600;
}


@media screen and (min-width: 1024px) {


    .texto_index{
        height: 250px;
        justify-content: space-evenly;
    }

    .texto_historia {
        height: 500px;
        justify-content: space-evenly;
    }

    .img_hist{
        display: flex;
        justify-content: center;
        align-items: center;
        height:500px;
    }

    h1 {
        font-size: 5rem;
        font-weight: 550;
    }


}

