$segmentos_card:(
    check_card: black,
    card_malbec:rgb(238, 40, 40),
    card_cabernet_franc:blueviolet,
);

$segmentos_formulario:(
    check_form: white,
    text_form: white
);

$generales:(
    principal:white,
    secundario:red,
    terciario:black
)