body {
    background-image: url(../Imagenes/img_bgc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
}

.bgc{
    background-color: rgba(0, 0, 0, 0.656);
    display: flex;

}