body {
    background-image: url(../Imagenes/background/img_bgc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
}

.bgc{
    background-color: $transparencia-body;
    display: flex;

}