footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', cursive;
    font-size:15px;
    padding: 80px;
    color:map-get($generales, principal );
}



h3{
    font-size: 15px;
}

@media screen and (min-width: 1024px) {
    footer{
        height: 20vh;
    }
}