.cont_img_hist{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 768px) {
    .cont_img_hist{
        height: 500px;
        width: auto;
    }
}

// 